<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">

</head>
<body>
<h1 style="color:white;">{{event['tags']['source']}} OSPF Status</h1>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Int_Addr</th>
            <th>Neighbor</th>
            <th>Router_ID</th>
            <th>Neighbor State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td> {{event['fields']['host_name'] | default(omit)}}</td>
          <td> {{event['fields']['if_addr'] | default(omit)}}</td>
          <td> {{event['fields']['neighbor'] | default(omit)}}</td>
          <td> {{event['fields']['router_id'] | default(omit)}}</td>
<td {% if event['fields']['ospf_new_state'] | default(omit) == undesired_state %}style="background:red;"{% endif %}>{{event['fields']['ospf_new_state'] | default(omit)}}</td>
        </tr>
    </tbody>
</body>
</html>

