<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">

</head>
<body>

<h1 style="color:white;">{{event['tags']['name']}} Status</h1>
<table>
    <thead>
        <tr>
            <th>Interface Stats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td> Address: {{event['fields']['ipv4'] | default(omit)}}</td>
	</tr>
	<tr>
          <td> Mask: {{event['fields']['ipv4_subnet_mask'] | default(omit)}}</td>
	</tr>
	<tr>
          <td> Speed: {{event['fields']['speed'] | default(omit)}}</td>
	</tr>
	<tr>
          <td> Pkts In: {{event['fields']['v4_protocol_stats/in_pkts'] | default(omit)}}</td>
	</tr>
 <tr>
          <td> Pkts Out: {{event['fields']['v4_protocol_stats/out_pkts'] | default(omit)}}</td>
 <tr>
	 <td {% if event['fields']['admin_status'] | default(omit) == undesired_int_admin %}style="background:red;"{% endif %}>Admin Status: {{event['fields']['admin_status'] | default(omit)}}</td>
 </tr>
	<tr>
		<td {% if event['fields']['oper_status'] | default(omit) == undesired_int_op %}style="background:red;"{% endif %}>Oper Status: {{event['fields']['oper_status'] | default(omit)}}</td>
        </tr>
    </tbody>
</body>
</html>

